<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulletin Board</title>
</head>
<body bgcolor="#deb887">
<div style="background-color: olivedrab; color: #ffffff">
<form data-th-action="@{/search}" align="right">
    <input name="name" type="search" class="item-search" data-th-value="${name}">
    <button type="submit" style="background-color: burlywood; color:#ffffff">Go</button>
</form>

<h1>Bulletin Board</h1>

</div>
<div style="background-color: white; width: 25%">
<ul>
    <li data-th-each="item : ${items}" class="item">
        <a data-th-href="@{/{id}(id=${item.id})}">
            <h2>[[${item.name}]]</h2>
        </a>
    </li>
</ul>
</div>
<p data-th-if="${items.size() == 0}" class="no-items">No Notice to display</p>

<a data-th-href="@{/0/edit}"><button style="background-color: olivedrab; color:#ffffff">Add</button></a>

</body>
</html>